SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# SQLite by default
USE_MYSQL=False

# MySQL config (activate by setting USE_MYSQL=True)
MYSQL_DB=library_management_db
MYSQL_USER=root
MYSQL_PASSWORD=your_mysql_password
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
